<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726525130780-iq5203o10mblub9p2oofocqletgnq91j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726525130780-iq5203o10mblub9p2oofocqletgnq91j</string>
	<key>API_KEY</key>
	<string>AIzaSyDNghveKrHKIR3ePDRfrjzklGzspR06grE</string>
	<key>GCM_SENDER_ID</key>
	<string>726525130780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.telatgroup</string>
	<key>PROJECT_ID</key>
	<string>telat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>telat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726525130780:ios:259af407c4d0f5542807d9</string>
</dict>
</plist>